In [1]:
import sqlite3
import pandas as pd

In [15]:
dbfile = r"database_macae.db"
conn = sqlite3.connect(dbfile)

In [42]:
query = "select * from contratos"

df = pd.read_sql(query, conn)

df.head()

   index nome         cpf/cnpj antes_depois    contrato tipo
0      0    -   323.446.947-49          1.0  1439924466   PF
1      1    -   673.888.417-68          2.0  1439924466   PF
2      2    -  111.989.067- 58          1.0  1440188956   PF
3      3    -   030.610.177-71          2.0  1440188956   PF
4      4    -   323.446.947-49          1.0  1440195954   PF

In [43]:
df[df.contrato==1439924466]

,index,nome,cpf/cnpj,antes_depois,contrato,tipo
0,0,-,323.446.947-49,1.0,1439924466,PF
1,1,-,673.888.417-68,2.0,1439924466,PF
1759,0,-,04.184.159/0001-64,-,1439924466,PJ
3703,1944,MACABULAB COMÉRCIO DE EQUIPAMENTOS HOSPITALARE...,06.180.014/0001-10,-,1439924466,PJ