In [2]:
import pandas as pd
import urllib.request
import shutil
import time
import requests
import os
from tqdm import tqdm
from bs4 import BeautifulSoup

In [2]:
lista = [1,2,4,1,8,10,99,1]

In [11]:
print(output.decode())

NameError: name 'output' is not defined

In [12]:
blank = '                                                        '
for i in lista:
    print(i, end='\r')

In [3]:
def get_url_pdfs(contratos):
    links_pdfs = []
    links_outros = []
    urls = contratos.url
    urls = tqdm(urls)
    for i in urls:
        urls.set_description("Processing %s" % i, refresh=True)
        r = requests.get(i)
        soup = BeautifulSoup(r.content, 'lxml')
        pdf = soup.find(id='anexo1').find_all('a')[0]['href']
        if pdf:
            one_pdf = 'http://sistemas.macae.rj.gov.br:84' + pdf
            links_pdfs.append(one_pdf)
        else:
            links_pdfs.append('-')
            links_outros.append(i)
    return links_pdfs, links_outros

In [4]:
def download_file(url, path='./'):
    file_name = path + url.split('/')[-1]
    # Download the file from `url` and save it locally under `file_name`:
    with urllib.request.urlopen(url) as response, open(file_name, 'wb') as out_file:
        shutil.copyfileobj(response, out_file)
    return file_name

In [5]:
def main():
    print('Processo Iniciado ---- ' + time.ctime(time.time()))
    contratos = pd.read_csv('full_table_contratos.csv').head(40)
    links_pdfs, links_outros = get_url_pdfs(contratos)
    contratos['pdf_url_contrato'] = links_pdfs
    contratos['pdf_file_contrato'] = [i.split('/')[-1] for i in links_pdfs]
    contratos.to_csv('full_table_contratos.csv', index=0)

    print('Total de documentos: ' + str(len(links_pdfs)))
    for i, j in enumerate(links_pdfs):
        file = j.split('/')[-1]
        if not os.path.exists(folder + str(file)):
            try:
                download_file(j, path=folder)
                print('----> baixando contrato ' + str(i), end="\r")
                print('----> pdf atual: ' + str(j), end="\r")
            except:
                continue
    print('Captura finalizada ---- ' + time.ctime(time.time()))

In [11]:
contratos = pd.read_csv('full_table_contratos.csv').head(10)

In [12]:
a,b =get_url_pdfs(contratos)

  0%|          | 0/10 [00:00<?, ?it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1642:   0%|          | 0/10 [00:00<?, ?it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1642:  10%|█         | 1/10 [00:00<00:04,  1.84it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1536:  10%|█         | 1/10 [00:00<00:04,  1.84it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1536:  20%|██        | 2/10 [00:00<00:03,  2.12it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1532:  20%|██        | 2/10 [00:00<00:03,  2.12it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1532:  30%|███       | 3/10 [00:01<00:02,  2.36it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1524:  30%|███       | 3/10 [00:01<00:02,  2.36it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1524:  40%|████      | 4/10 [00:01<00:02,  2.51it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1506:  40%|████      | 4/10 [00:01<00:02,  2.51it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1506:  50%|█████     | 5/10 [00:01<00:02,  2.38it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1503:  50%|█████     | 5/10 [00:01<00:02,  2.38it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1503:  60%|██████    | 6/10 [00:02<00:01,  2.42it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1637:  60%|██████    | 6/10 [00:02<00:01,  2.42it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1637:  70%|███████   | 7/10 [00:02<00:01,  2.49it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1630:  70%|███████   | 7/10 [00:02<00:01,  2.49it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1630:  80%|████████  | 8/10 [00:03<00:00,  2.72it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1638:  80%|████████  | 8/10 [00:03<00:00,  2.72it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1638:  90%|█████████ | 9/10 [00:03<00:00,  2.64it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1611:  90%|█████████ | 9/10 [00:03<00:00,  2.64it/s]
Processing http://sistemas.macae.rj.gov.br:84/transparencia/default/contratacoes/mostrarcontratos?id=1611: 100%|██████████| 10/10 [00:03<00:00,  2.54it/s]

In [6]:
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4', 'Fusca'],
        'Price': [22000,25000,27000,35000, 9000]
        }

df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

In [7]:
df

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000
4           Fusca   9000

In [13]:
df.Price = df.Price.mask(df.Brand == 'Ford Focus', other='sds')

In [14]:
df

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus    sds
3         Audi A4  35000
4           Fusca   9000